/* Estilo geral */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

/* Container do quiz */
.quiz-container {
  max-width: 600px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Pergunta */
h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Botões de alternativas */
button {
  width: 100%;
  margin-top: 20px ;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Resultado */
.result-container {
 max-width: 500px;
 margin: 50px auto;
 padding: 2rem;
 text-align: center;
 background: linear-gradient(135deg, #fdfbfb, #ebedee);
 border-radius: 16px;
 box-shadow: 0 10px 25px rgba(0,0,0,0.1);
 font-family: 'Segoe UI', sans-serif;
}

h1 {
  font-size: 2rem;
  color: #0a56ac;
  margin-bottom: 1rem;
}

.mensagem {
  font-size: 1.2rem;
  color: #2ecc71;
  margin-bottom: 0.5rem;
}

.pontuacao {
font-size: 1.1rem;
margin-bottom: 1.5rem;
}
.progresso {
  height: 100%;
  background-color: #4a90e2;
  transition: width 0.4s ease;
}
.result-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}